/_site/
/generated-pages/
/generated-live/
/.quarto/
/_freeze/
/.cache/
/.local/
/.uv-cache/
/.jupyter_cache/
/.venv/
/.Rproj.user/
.Rhistory
.RData

**/*.quarto_ipynb
**/__pycache__/
./quarto-1.9.38-linux-amd64.deb
